$mainColorRed: #f85969;
$white: #ffffff;
$fontSize: 16px;

button, input[type='submit'] {
    padding: 0;
    border: none;
    color: $white;
    background-color: $mainColorRed;
    cursor: pointer;
    width: 163px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
  }

input:first-child {
  margin-top: 60px;
}

.container_padding {
  padding: 30px;
}

.card {
  margin-top: 60px;
  border: none;
  img {
    border: 2px solid $mainColorRed;
    border-radius: 5px;
    padding: 1px;
  }
}